{
    "presets": [
        ["@babel/preset-env",
            { 
                "targets": { "node": "current" }
            }
        ],
        "@babel/preset-typescript",
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "react-hot-loader/babel"
    ]
}
