/node_modules
/dist
/.nyc_output
/.github
/coverage
/.vscode
.Procfile
.Dockerfile
.dockerignore
.travis.yml
.nycrc
.mocharc.yml
.gitignore
.env.example
.env
.docker-compose.yml
.codeclimate.yml
*.prettier
*.eslint
*.log
