/node_modules/**
/dist/**
/test/**
/.nyc_output
/.github/**
/coverage/**
/.vscode/**
/.data/**
Procfile
Dockerfile
.dockerignore
.travis.yml
.nycrc
.mocharc.yml
.gitignore
docker-compose.yml
.codeclimate.yml
README.md
LICENSE
*.prettier
*.eslint
*.log
*.env

